/**
*
* Testing
*
**/
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar {
  height: 80px;
  background-color: #173f5f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10em;
  font-weight: 600px;
}

.navbar .logo a {
  text-decoration: none;
  font-size: 29px;
  color: #fff;
  outline-style: none;
  font-family: 'Hanalei Fill', monospace;
}

.navbar .logo a:hover {
  color: #ec5c19;
}

.navbar .logo:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

.navbar .navRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .navRight .navLinks {
  margin: 0  20px;
}

.navbar .navRight .navLinks a {
  color: #fff;
  font-size: 24px;
  font-weight: 600px;
  text-decoration: none;
  outline-style: none;
}

.navbar .navRight .navLinks a:hover {
  color: orangered;
}

.navbar .navRight .navLinks:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

.banner {
  font-size: 20px;
  background-color: #3f90d0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
}

.banner .h3 {
  margin: 0px;
}

.banner p {
  margin: 0 0 10px 0;
  color: rgba(255, 255, 255, 0.8);
}

.banner .searchBlog {
  width: 100%;
}

.banner .searchBlog input {
  width: 100%;
  max-width: 500px;
  height: 40px;
  display: block;
  margin: 0 auto;
  padding: 0 20px;
}

.banner .searchBlog input::-webkit-input-placeholder {
  color: orangered;
}

.banner .searchBlog input:-ms-input-placeholder {
  color: orangered;
}

.banner .searchBlog input::-ms-input-placeholder {
  color: orangered;
}

.banner .searchBlog input::placeholder {
  color: orangered;
}

.banner .searchBlog input:focus {
  -webkit-box-shadow: 3px 3px 10px 5px rgba(255, 255, 255, 0.9);
          box-shadow: 3px 3px 10px 5px rgba(255, 255, 255, 0.9);
  border: 2px solid rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  width: 100%;
}

.blogListContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 20px;
  margin: 0 9em;
}

.blogListContainer .blogList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
}

.blogListContainer .blogList .blogCard {
  background-color: white;
  margin: 20px 0;
  -webkit-box-shadow: 1px 2px 15px 5px rgba(61, 61, 60, 0.3);
          box-shadow: 1px 2px 15px 5px rgba(61, 61, 60, 0.3);
}

.blogListContainer .blogList .blogCard .blogImage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.blogListContainer .blogList .blogCard .blogImage img {
  width: 80%;
}

.blogListContainer .blogList .blogCard .blogImage .blogContent {
  padding: 10px;
  width: 100%;
  overflow: hidden;
}

.blogListContainer .blogList .blogCard .blogImage .blogContent .blogTitle {
  font-size: 20px;
  color: orangered;
  padding: 10px;
  font-weight: 600px;
}

.blogListContainer .blogList .blogCard .blogImage .blogContent p {
  font-size: 20px;
  padding: 10% 30px;
}

.blogListContainer .blogList .blogCard .blogImage .blogContent button {
  background-color: #ec5c19;
  outline-style: none;
  font-size: 20px;
  border-radius: 3px;
  border: 2px solid #1b1b1b;
  padding: 1% 10%;
  color: white;
}

.blogListContainer .blogList .blogCard .blogImage .blogContent .blogFooter {
  padding: 35px 0 0 0;
  color: gray;
}

.blogListContainer .blogList .blogCard:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.blogListContainer .blogExtras {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
}

.blogListContainer .blogExtras h4 {
  color: orangered;
  width: 60%;
}

.blogListContainer .blogExtras .blogImage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  margin: 10px 0;
  margin-left: 20%;
  -webkit-box-shadow: 3px 3px 15px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 15px 1px rgba(0, 0, 0, 0.2);
}

.blogListContainer .blogExtras .blogImage img {
  width: 100%;
}

.blogListContainer .blogExtras .blogImage .blogContent {
  margin: 0 20px;
  overflow: hidden;
}

.blogListContainer .blogExtras .blogImage .blogContent .blogTitle {
  padding: 10px;
  font-size: 23px;
  color: orangered;
}

.blogListContainer .blogExtras .blogImage .blogContent button {
  background-color: orangered;
  font-size: 14px;
  border-radius: 3px;
  border: 2px solid #1b1b1b;
  padding: 1px 10%;
  color: white;
}

.blogListContainer .blogExtras .blogImage .blogContent .blogFooter {
  padding: 20px 0 0 0;
  color: #999999;
}

.blogListContainer .blogExtras .blogImage:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  cursor: pointer;
  width: 100%;
  margin: 10% 0;
}

.pagination a {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #6c7ac9;
  color: #6c7ac9;
  margin: 30px 20px;
}

.pagination__link {
  font-weight: bold;
}

.pagination__link--active a {
  color: #fff;
  background: #6c7ac9;
}

.pagination__link--disabled a {
  color: #c6c5ca;
  border: 1px solid #c6c5ca;
}

.foot {
  background-color: lawngreen;
}

.foot .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #173f5f;
  color: white;
  width: 100%;
}

@media (max-width: 360px) {
  .navbar {
    background-color: lightcoral;
    padding: 2px;
  }
  .navbar .logo a {
    font-size: 20px;
  }
  .navbar .navRight .navLinks {
    font-size: 18px;
  }
  .banner .searchBlog input {
    width: 80%;
  }
  .banner .searchBlog input:focus {
    width: 80%;
  }
  .blogListContainer {
    margin: 0;
    padding: 0;
  }
  .blogListContainer .blogList {
    padding-left: 30px;
    width: 100%;
  }
  .blogListContainer .blogList .blogCard .blogImage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blogListContainer .blogList .blogCard .blogImage img {
    width: 100%;
    height: 50%;
  }
  .blogListContainer .blogList .blogCard .blogImage .blogContent p {
    padding: 10px;
  }
  .blogListContainer .blogList .blogCard .blogImage .blogContent button {
    width: 90%;
  }
  .blogListContainer .blogList .blogCard:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .blogExtras {
    display: none;
    width: 0%;
  }
  .blogExtras h4 {
    display: none;
  }
  .blogExtras .blogImage img {
    display: none;
  }
  .blogExtras .blogImage .blogContent {
    display: none;
  }
}
/*# sourceMappingURL=home.css.map */